<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">

	<display-name>ServletHeader</display-name>

	<servlet>
		<servlet-name>servletHeader</servlet-name>
		<servlet-class>com.galaxy.ServletHeader</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>servletHeader</servlet-name>
		<url-pattern>/sh</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>servletRefresh</servlet-name>
		<servlet-class>com.galaxy.ServletRefresh</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>servletRefresh</servlet-name>
		<url-pattern>/refresh</url-pattern>
	</servlet-mapping>

</web-app>